<div class="row">
	<div class="col s12">
		<h1>Buscando: <%= caption %></h1>

		<ul class="collection">
			<% for(var i=0; i<articles.length; i++) { %>
				<li class="collection-item">
					<a href="#!" onclick="apretaste.send({'command':'TECNOLOGIA HISTORIA','data':{'query':'<%= articles[i].link %>', 'title':'<%= articles[i].title %>'}})">
						<h6><%= articles[i].title %></h6>
					</a>

					<% if(articles[i].description.length > 0){ %>
						<p><%= articles[i].description %></p>
					<% } %>
				</li>
			<% } %>
		</ul>

		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'TECNOLOGIA'})"><i class="material-icons">arrow_back</i></a>
		</div>
	</div>
</div>
