<div class="input-field col s12">
    <select id="sources">
        <option value="" <%= selectedSource == "" ? "selected" : "" %>>Todo</option>
        <% sources.forEach(function (source) { %>
            <option value="<%= source.id %>" <%= selectedSource == source.id ? "selected" : "" %>><%= source.name %></option>
        <% }) %>
    </select>
</div>

<div class="col s12" id="articles">
    <% articles.forEach(function (article) { %>
        <div class="card horizontal"
             onclick="apretaste.send({'command': 'TECNOLOGIA HISTORIA', 'data':{'id': '<%= article.id %>'}})">
            <%
                var src = "{{APP_IMAGE_PATH}}/" + article.image;
                if (article.image == "no-image.png") src = "{{APP_SERVICE_PATH}}/images/no-image.png"
            %>
            <div class="card-image delete-if-no-image" style="background-image: url('<%= src %>')">

            </div>
            <div class="card-stacked">
                <div class="card-content" style="line-height: 1.2rem">
                    <span class="article-title-ap"><%= article.title %></span><br>
                    <small class="grey-ddc" style="display: inline-block; margin: 3px 0">
                        <i class="material-icons ultra-tiny">calendar_today</i> <%= article.pubDate %> &nbsp;
                        <i class="material-icons ultra-tiny">person</i> <%= article.author %> &nbsp;
                        <i class="material-icons ultra-tiny">comment</i> <%= article.comments %>
                    </small><br>
                    <small style="color: #7b7b7b"><%= article.description %></small><br>
                    <span style="display: block; margin-top: 5px">
                        <div class="chip small"><%= article.source %></div>
                    </span>
                </div>
            </div>
        </div>
    <% }) %>
</div>
