<div class="col s12" id="article">
    <h3 style="color: #303d44"><%= title %></h3>

    <span class="grey-ddc" style="font-weight: 500">
            <i class="material-icons tiny">calendar_today</i> <%= pubDate %> &nbsp;
            <i class="material-icons tiny">person</i> <%= author %>
        </span>

    <p><%= description %></p>

    <% if(image != ""){ %>
        <div class="center-align">
            <img class="responsive-img" width="100%" src="{{APP_IMAGE_PATH}}<%= image %>"><br>
        </div>
        <span class="grey-ddc"> <%= imageCaption %> </span>
    <% } %>

    <section>
        <% content.split("\\n\\n").forEach(function(paragraph){ %>
            <p><%= paragraph %></p>
        <% }) %>
    </section>

    <span>
        <% tags.forEach(function (tag) { %>
            <% if(tag.length < 10){ %>
                <div class="chip small"><%= tag %></div>
                <!-- onclick="apretaste.send({'command':'TECNOLOGIA TAG', 'data': {'tag': '<%= tag %>'}})" -->
            <% } %>
        <% }) %>
    </span>

    <br><br>
</div>

<div class="col s12">
    <div class="divider" style="margin-bottom: 5px"></div>
    <span class="grey-ddc left" style="font-weight: 500">Comentarios</span>
    <span class="right grey-ddc">
        <i class="material-icons tiny">comment</i> <span id="commentsCounter"><%= comments.length %></span>
        <i class="material-icons tiny"
           onclick="apretaste.send({'command': 'TECNOLOGIA HISTORIA', 'data':{'id': '<%= id %>', 'ts': Date.now()}})">autorenew</i>
    </span>
</div>

<% if (myUsername == "guest"){ %>
    <div class="col s12 red-text" style="font-weight: 500">Inicie sesión para comentar</div>
<% } %>

<ul class="collection" id="comments">
    <% comments.forEach(function (comment) { %>
        <li class="collection-item avatar">
            <span style="background-color: <%= getRandomColor() %>"
                  class="circle"> <%= comment.username[0].toUpperCase() %> </span>
            <span class="title" style="color: #263238; font-weight: 500">@<%= comment.username %> &middot; <small
                        class="grey-ddc"><span style="color: #424242"><%= comment.inserted %></span></small></span>
            <p><%= comment.content %></p>
        </li>
    <% }) %>

    <% if(comments.length == 0 && myUsername != "guest") { %>
        <div class="col s12" id="no-comments">Sé el primero en comentar</div>
    <% } %>
</ul>

<% if(myUsername != "guest") { %>
    <div id="writeModal" class="container" status="closed" style="display: none;">
        <div class="row">
            <i class="material-icons small" onclick="toggleWriteModal()">close</i>
            <div class="col s12">
            <textarea id="comment" class="materialize-textarea" maxlength="250"
                      placeholder="¿En qué piensas?"></textarea>
            </div>

            <div class="actions">
                <i class="material-icons small right" onclick="sendComment()">send</i>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large grey darken-2" onclick="toggleWriteModal()">
            <i class="large material-icons">comment</i>
        </a>
    </div>
<% } %>
