<div class="col s12 article">
    <h3><%= title %></h3>
    <span class="grey-ddc"><%= author %> | <%= artLocation %></span>
    <p><%= description %></p>
    <% if(image != ""){ %>
        <div class="center-align">
            <img src="{{APP_IMAGE_PATH}}<%= image %>" alt="articleImg" class="responsive-img">
            <figcaption><%= imageCaption %></figcaption>
        </div>
    <% } %>

    <section class="grey-ddc">
        <% content.split("\\n\\n").forEach(function(paragraph){ %>
            <p><%= paragraph %></p>
        <% }) %>
    </section>
</div>